[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/11_randfile.git
	branch = main
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/11_random_vs.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_devise.git
	branch = master
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_11_randfile
	branch = main
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/11_randfile
	branch = main
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_11_randfile.git
	branch = master
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/11_randfile.git
	branch = master
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_11_randfile.git
	branch = main
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-11_randfile.git
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/11_randfile_zhangAle
	branch = master
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/11_randfile.git
	branch = main
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_11_randfile.git
	branch = main
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work11_randfile.git
	branch = main
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/11_systems
	branch = main
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/11_randfile.git
	branch = main
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work11.git
	branch = main
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/11_randfile.git
	branch = main
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/hw11_randfile
	branch = master
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw11.git
	branch = main
[submodule "hw11"]
	path = hw11
	url = https://github.com/gzhao10/hw11.git
	branch = main
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/11_randfile_J.git
	branch = main
[submodule "ganHao"]
	path = ganHao
	url = https://github.com/haotianGan/11_devise
	branch = master
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/11_Randfile.git
	branch = main
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/11_randfile.git
[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/randfile.git
	branch = master
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/11_randfile_vj.git
	branch = main
