[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/11_randfile.git
	branch = main
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/11_random_vs.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_devise.git
	branch = master
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_11_randfile
	branch = main
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/11_randfile
	branch = main
